{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "document": false,
    "shallow": true,
    "render": true,
    "mount": true
  },
  "env": {
    "jest": true
  }
}
